@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-navy-900 text-text-light font-sans antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-navy-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-navy-700 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-navy-800;
}